body {
  background-color: darkblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  color: goldenrod;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
    background: darkolivegreen;
}

.delete {
    cursor: pointer;
    color: darkorange;
}